.btn-primary{
    background-color: #34495e !important;
    border-color: #34495e !important;
    color: #fff !important;
}

.btn-danger{
    background-color: #d86464 !important;
    color: #fff !important;
}